@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Message"]</h1>


<p>Email: @ViewData["email"]</p>

<address>
    <strong>More information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>

